div {
    background-color: antiquewhite;
    border: 2px solid red;
    width: 200px;
    height: 130px;
    position: relative;
}

#d2 {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
}


#d1 {
    position: relative;
    top: 30px;
    right: -250px;
    margin: 0;
}

div h3 {
    position: absolute;
    top: 5px;
    left: 15px;
}

div p {

    position: absolute;
    top: 45px;
    left: 15px;
    
}
