* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: rgb(46, 211, 211);

}

.nav-bar ul li {
    display: inline-block;
    width: 25%;
    white-space: normal;
    
    border: 1px solid black;
    text-align: center;
}

.nav-bar ul {
    white-space: nowrap;
}

.nav-bar ul li a :hover {
    background-color: white;
    color: black;
}

